

* {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
}

html,
body {
  /* max-width: 100vw;
  overflow: hidden; */
}



a {
  /* color: inherit;
  text-decoration: none; */
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
